@use "~azure-devops-ui/Core/_platformCommon.scss" as *;

.work-item-form-dialog {
    width: 70vw !important;
    height: 90vh;
    min-width: 640px;
}

.progress-bar {
    background-color: $neutral-0;
}

.progress-contet {
    background-color: $neutral-4;
}